@import '../../style/variables.scss';

.catalog {
  // padding: 10.25rem 0;
  background-color: $color-light;
  @include center-row;
  align-items: flex-start;
  // justify-content: space-between;
  justify-content: flex-start;
  
  gap: 3rem;

  &__products {
    @include center-row;
    flex-wrap: wrap;
    gap: 6rem;
    max-width: 105rem;
    width: 100%;
    margin: 0 auto;
    background-color: red;
  }
}

@media(max-width: 768px) {
  .catalog {
    flex-direction: column;

    &__products {
      justify-content: center;
    }
  }
}