@import '../../style/variables.scss';

.home-hero {
  background: url("../../assets/images/hero-banner.png") no-repeat center / cover;
  height: 34.625rem;

  @include center-column;
  justify-content: center;

  &__title {
    color: $color-light;
    font-size: 3rem;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center
  }
}

@media(max-width: 768px) {
  .home-hero {
    &__search {
      width: 70%;
    }
  }
}