@import '../../style/variables.scss';

.products {  
  &__item {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
    max-width: 21rem;
    width: 90%;
    margin: 0 auto;
    img {
      max-width: 21rem;
      width: 100%;
    }
  }


  &__title {
    text-transform: uppercase;
    font-weight: $font-medium;
  }
}